*.cab
*.lnk
*.msi
*.msix
*.msm
*.msp
*.stackdump
*.vsix
*~
.cursor/
.cursorignore
.directory
.fuse_hidden*
.history
.history/
.ionide
.nfs*
.Trash-*
.vscode/*
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
[Dd]esktop.ini
$RECYCLE.BIN/
ehthumbs.db
ehthumbs_vista.db
env/
Thumbs.db
Thumbs.db:encryptable